/***************************************************/

html {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  min-width: 22em;
}

td {
  padding: 0.2em;
}

span {
  text-align: center;
}

table label {
  display: table-cell;
}

table input, table select, table span {
  display: inline-block;
  width: 9em;
}

#message {
  position: sticky;
  top: 0;
  padding: 0.4em;
  display: none;
  margin-bottom: 0.4em;
}

#menu {
  padding-bottom: 0.4em;
  border-bottom: 0.15em groove rgb(227, 227, 227);
}

#menu a {
  padding: 0.4em;
}

/***************************************************/

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
}

/***************************************************/

.responsive label {
  display: none;
}

@media (max-width: 30em) {
  .responsive thead {
    display: none;
  }
  .responsive tbody th {
    text-align: left;
  }
  .responsive label, .responsive tr, .responsive td {
    display: inline-block;
  }
  .responsive tr:not(:first-child) {
    padding-top: 1em;
  }
  .responsive tr:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 0.15em groove rgb(227, 227, 227);
  }
}

/***************************************************/

#infos canvas {
  width: 100%;
  min-width: 6em;
  min-width: 22em;
  height: 1.2em;
  border: 1px solid black;
  padding: 0.15em;
  display: inline-block;
}

/***************************************************/

.grid {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.25em;
}

.grid input, .grid select, .grid label, .grid span {
  padding: 0.2em;
}

#values.grid {
  grid-template-columns: repeat(3, auto);
}